*{
    margin: 0;
    padding: 0;
}

body{
    background-color:burlywood;
}

.navbar{
    background-color:darkolivegreen;
    height: 50px;
    display: flex;
    justify-content: center;
}

.items{
    color: white;
    text-decoration: none;
    margin: 17px;
    transition: transform 0.3s ease;
}

.items:hover{
    transform: scale(1.5);
    color: gold;
}

.navbar-icon{
    display: none;
}

.navbar-left{
    background-color: rebeccapurple;
    height: 100vh;
    width: 200px;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: transform 0.3s ease;
}

.item{
    text-decoration: none;
    display: block;
    color:hotpink;
    font-size: larger;
    margin-top: 30px;
}

.item:hover{
    transform: scale(1.8);
}

.one, .two{
    margin-left: 7px;
}

.content h1{
    display: flex;
    justify-content: center;
    margin-top: 225px;
    color:maroon;
}

.content p{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    padding-left: 10px;
}

.navbar-icon{
    position: relative;
}

@media screen and (max-width: 768px) {
    .items{
        display: none;
    }

    .navbar{
        display: none;
    }

    .navbar-toggle{
        display: block;
        background-color: rgb(236, 236, 17);
        height: 56px;
        color:cornflowerblue;
        
    }

    .content h1,p{
        display: flex;
    } 
}

@media screen and (min-width: 768px) {
    .navbar-left{
        display: none;
    }
}
